<!-- Search query for nearest users-->
<body data-no-turbolink="true">
<%= form_tag user_details_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<p id="notice"><%= notice %></p>

<h1>Listing User Details</h1>

<table>
  <thead>
    <tr>
      <th>Name (Shop) </th>
      <th>Address</th>
      <th>User's Name</th>
      <th>Longitude</th>
      <th>Latitude</th>
    </tr>
  </thead>

  <tbody>
    <% @user_details.each do |user_detail| %>
      <tr>
        <td><%= user_detail.name %></td>
        <td><%= user_detail.address %></td>
        <%  if user_detail.user  %>
        <td><%= user_detail.user.email %></td>
        <% end %>
        <td><%= user_detail.longitude %></td>
        <td><%= user_detail.latitude %></td>    
        <td><%= link_to 'Show', user_detail %></td>
        <td><%= link_to 'Edit', edit_user_detail_path(user_detail) %></td>
        <td><%= link_to 'Destroy', user_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <div style='width: 800px;'>
    <div id="geolocation" style='width: 800px; height: 400px;'></div>
  </div>
<%= link_to 'New User detail', new_user_detail_path %>
